{{!--
David A. Clark, Jr.
Student #0004796375
Class WDV339-O
Term C202302
Section	01
Project Portfolio III
--}}

{{page-title "ClarkDavidWdv339EmberApp"}}

<div class="flex flex-column min-vh-100 w-100">
  <p>Hello</p>
  {{outlet}}
</div>