{{!--
David A. Clark, Jr.
Student #0004796375
Class WDV339-O
Term C202302
Section	01
Project Portfolio III
--}}

{{page-title "WDV339"}}

<div class="flex flex-column min-vh-100 w-100">
  <Header />

  <div class="flex flex-column flex-grow-1 pa1 pa2-m pa3-l">
    {{outlet}}
  </div>
</div>